<!-- <app-chat ></app-chat> -->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<div class="video-container">
  <video autoplay loop playsinline preload="auto" id="background-video" muted>
    <source src="/assets/video/home_final.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<div class="featured-post">
  <img src="/assets/image/sunset-1637376_1920.jpg" alt="Featured Post Image">
  <div class="card-container">
    <div class="card">
      <h2>BlogPortal</h2>
      <p>Chat with a vibrant community of writers and readers!</p>
      <a *ngIf="role != 'Admin' && role != 'User'" routerLink="/login" class="btn-small">Chat Now</a>
    </div>
    <div class="card">
      <h2>Create Your Account</h2>
      <p>Sign up now to start writing your own blogs and engage with other members.</p>
      <a *ngIf="role != 'Admin' && role != 'User'" routerLink="/register" class="btn-small">Sign Up</a>
    </div>
    <div class="card">
      <h2>Login to Your Account</h2>
      <p>Already have an account? Log in here to access your dashboard and continue sharing your journey.</p>
      <a *ngIf="role != 'Admin' && role != 'User'" routerLink="/login" class="btn-small">Login</a>
    </div>
    <div class="card">
      <h2>Write a New Blog Post</h2>
      <p>Express yourself! Click here to start writing a new blog post and share it with our community.</p>
      <a *ngIf="role != 'Admin' && role != 'User'" routerLink="/login" class="btn-small">Write Now</a>
    </div>
    <div class="card">
      <h2>Explore Blogs</h2>
      <p>Discover amazing content from our talented writers! Browse through various categories and find something that interests you.</p>
      <a *ngIf="role != 'Admin' && role != 'User'" routerLink="/login" class="btn-small">Explore</a>
    </div>
    
  </div>
</div>


<!-- <div class="image-item">
  <img src="/assets/image/beach-2562563_1920.jpg" alt="Image 2">
</div> -->


<footer class="footer">
  <p>&copy; 2025 Blog Community. All rights reserved.</p>
  <p><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
  <div class="social-media">
    <a href="https://www.facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
  </div>
</footer>

